@model IEnumerable<LojaSystem.Models.Equipamento>

@{
    ViewData["Title"] = "Index";
}


<div class="card">
    <div class="card-body">
        
        <h2>Equipamentos Registrados</h2>
        <input class="btn btn-primary" type="button" value="Registrar Novo Equipamento" onclick="location.href='@Url.Action("Create", "Equipamentos")'" />

        <hr />

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NumeroSerie)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Acessorios)
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.MarcaEquipamento)*@
                        <label>Marca</label>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroSerie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Acessorios)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MarcaEquipamento.NomeMarca)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdEquipamento">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.IdEquipamento">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdEquipamento">Excluir</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

