@model IEnumerable<LojaSystem.Models.ResponsavelModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameResponsavel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaResponsavel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameResponsavel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaResponsavel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdResponsavel">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdResponsavel">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdResponsavel">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
